@font-face {
  font-family: "Alexana Neue";
  src: url(fonts/Alexana\ Neue.ttf);
  }

body {
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 10);
    color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }
  
  .container {
    width: 95%;
    max-width: 700px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-family: "Poiret One", cursive;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  a {
    color: rgb(240, 240, 240);
    font-weight: 400;
    text-decoration: none;
  }
  
  p {
    font-family: "Alexana Neue", cursive;
    font-size: 1.15em;
  }
  
  .tile {
    width: 100%;
    background-color: rgb(37, 37, 37);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
  }
  
  .tile:hover {
    transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
    transform: scale(1.02);
  }
  
  .tile-share-button {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52, 52, 52);
  }
  
  .tile-share-button svg {
    margin-left: 12px;
    margin-top: 10px;
  }
  
  .material-symbols-outlined {
    margin: 9px;
    width: 40px;
    height: 40px;
  }
  
  .image-container {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    overflow: hidden;
  }
  
  .image-container img {
    height: 100%;
  }
  
  .icon {
    margin-top: 8px;
    margin-left: 6px;
    width: 44px;
    height: 44px;
  }
  
  .bi {
    margin-top: 55px;
    margin-left: 5px;
    font-size: 35px;
  }
  