@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: "Alexana Neue";
  src: url(fonts/Alexana\ Neue.ttf);
}

html {
  scroll-behavior: smooth;
  cursor: url(cursor.png), none;
}

body {
  font-family: "Comfortaa", monospace;
  background: #121212;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: url(cursor.png), none;
}

p {
  font-family: "Comfortaa", monospace;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.7em;
  color: #d9ed92;
  cursor: url(cursor.png), none;
}

h2 {
  font-family: "Comfortaa", monospace;
  font-weight: 700;
  font-size: 2em;
  color: #76c893;
  margin-bottom: 30px;
  cursor: url(cursor.png), none;
}

h3 {
  font-family: "Comfortaa", monospace;
  font-size: 1em;
  font-weight: 400;
  color: #76c893;
  cursor: url(cursor.png), none;
}

h4 {
  font-family: "Comfortaa", monospace;
  font-size: 2em;
  color: #d9ed92;
  text-align: left;
  white-space: nowrap;
  margin-top: 10px;
  cursor: url(cursor.png), none;
}

ul {
  font-family: "Comfortaa", monospace;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #76c893;
  white-space: normal;
  margin-top: 10px;
  overflow-wrap: break-word;
  cursor: url(cursor.png), none;
}

li {
  overflow-wrap: normal;
}

strong {
  color: #bf4d2a;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  cursor: url(cursor.png), none;
}

.navbar {
  padding: 10px 0px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  margin-left: -20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  cursor: url(cursor.png), none;
  top: 0;
  left: 0;
  right: 0;
}

.nav-item {
  color: #b5e48c;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  font-size: 1.5em;
  cursor: url(cursor.png), none;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #b5e48c;
  background-color: #23665b;
  transition: all 0.2s;
  transition-duration: 2ms;
  cursor: url(cursor.png), none;
}

.navbar-nav .nav-item .nav-link {
  color: #52b69a;
  text-align: right;
  cursor: url(cursor.png), none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: url(cursor.png), none;
}

#content {
  width: 100%;
  padding: 25px;
  transition: all 0.1s;
  color: "#34a0a4";
  overflow-wrap: break-word;
  min-height: calc(100vh - 30px);
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: url(cursor.png), none;
}

footer {
  bottom: 0;
  width: 100%;
  left: 0;
  height: 20px;
  cursor: url(cursor.png), none;
}

.footer-bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background:#0f3f3c;
  cursor: url(cursor.png), none;
}

.footer-bottom center span {
  color: #99d98c;
  cursor: url(cursor.png), none;
}

.footer-bottom center a {
  text-decoration: none;
  cursor: url(cursor.png), none;
}

.footer-bottom center a:hover {
  text-decoration: underline;
  cursor: url(cursor.png), none;
}

.offcanvas-header {
  display: none;
}

.optional {
  color: #168aad !important;
}

.checklist {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checklist input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  margin-top: 5px;
  background-color: #eee;
}

.checklist {
  color: #ded5f6;
  cursor: url(cursor.png), none;
}

/* On mouse-over, add a grey background color */
.checklist:hover input ~ .checkmark {
  background-color: #90bbaf;
  cursor: url(cursor.png), none;
}

/* When the checkbox is checked, add a blue background */
.checklist input:checked ~ .checkmark {
  background-color: #1989ae;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checklist input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checklist .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 12px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 992px) {
 
  .offcanvas-header {
    display: block !important; 
  }

  .navbar-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: hidden;
    overflow-x: hidden;
    visibility: hidden;
    background-color: #121212;
    transition: visibility 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.2s cubic-bezier(0.39, 0.58, 0.57, 1);
  }

  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }

  .fixed-position {
    position: fixed;
  }

  .lock-scroll {
    overflow: hidden;
  }

  h4 {
    font-family: "Comfortaa", monospace;
    font-size: 1.5em;
    color: #d9ed92; 
    text-align: left;
    white-space: nowrap;
    margin-top: 10px;
    margin-left: 10px;
  }

  ul li {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
  }

  .navbar-nav {
    text-align: right;
  }

  .navbar-nav .nav-link {
    color: #008785; 
    cursor: url(cursor.png), none;
  }
  .navbar-nav .nav-link:hover {
    color: #b5e48c;
    cursor: url(cursor.png), none;
  }

  .footer {
    height: auto;
    cursor: url(cursor.png), none;
  }

  banner {
    bottom: 0;
    width: 100%;
    left: 0;
    height: 30px;
    cursor: url(cursor.png), none;
  }

  .banner-bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #a4190a;
    cursor: url(cursor.png), none;
    display: none;
  }

  .banner-bottom center span {
    color: #168aad;
    cursor: url(cursor.png), none;
  }

  .banner-bottom center a {
    text-decoration: none;
    cursor: url(cursor.png), none;
  }

  .banner-bottom center a:hover {
    text-decoration: underline;
    cursor: url(cursor.png), none;
  }

  #bar {
    display: none;
  }
}

#contactbody {
  margin: 0;
  padding: -5px;
  background-color: rgb(10, 10, 10);
  color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  cursor: url(cursor.png), none;
}

#contactcontainer {
  width: 95%;
  max-width: 700px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: url(cursor.png), none;
}

h1 {
  font-family: "Poiret One", cursive;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 20px;
  color: #3acb95;
  cursor: url(cursor.png), none;
}

#contact-title {
  font-family: "Poiret One", cursive;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: -10px;
  margin-top: -15px;
  cursor: url(cursor.png), none;
}

#contact-href {
  color: rgb(240, 240, 240);
  font-weight: 400;
  text-decoration: none;
  cursor: url(cursor.png), none;
}

#link-text {
  font-family: "Alexana Neue", cursive;
  font-size: 1.15em;
  cursor: url(cursor.png), none;
}

.tile {
  width: 100%;
  background-color: rgb(37, 37, 37);
  margin: 3px;
  border-radius: 17px;
  display: flex;
  justify-content: space-between;
  cursor: url(cursor.png), none;
}

.tile:hover {
  transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
  transform: scale(1.02);
  cursor: url(cursor.png), none;
}

.tile-share-button {
  margin: 8px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(52, 52, 52);
  cursor: url(cursor.png), none;
}

.tile-share-button svg {
  margin-left: 12px;
  margin-top: 10px;
  cursor: url(cursor.png), none;
}

.material-symbols-outlined {
  margin: 9px;
  width: 40px;
  height: 40px;
  cursor: url(cursor.png), none;
}

.image-container {
  height: 75px;
  width: 75px;
  border-radius: 37.5px;
  overflow: hidden;
  cursor: url(cursor.png), none;
}

.image-container img {
  height: 100%;
  cursor: url(cursor.png), none;
}

.icon {
  margin-top: 8px;
  margin-left: 6px;
  width: 44px;
  height: 44px;
  cursor: url(cursor.png), none;
}

.bi {
  margin-top: 55px;
  margin-left: 5px;
  font-size: 35px;
  cursor: url(cursor.png), none;
}