@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
  cursor: url(cursor.png), none;
}

body {
  font-family: "Comfortaa", monospace;
  background: #0c2232; /* to be changed */
  cursor: url(cursor.png), none;
}

p {
  font-family: "Comfortaa", monospace;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.7em;
  color: #d9ed92;
  cursor: url(cursor.png), none;
}

h2 {
  font-family: "Comfortaa", monospace;
  font-weight: 700;
  font-size: 2em;
  color: #76c893;
  margin-bottom: 30px;
  cursor: url(cursor.png), none;
}

h3 {
  font-family: "Comfortaa", monospace;
  font-size: 1em;
  font-weight: 400;
  color: #76c893;
  cursor: url(cursor.png), none;
}

h4 {
  font-family: "Comfortaa", monospace;
  font-size: 2em;
  color: #d9ed92;
  text-align: left;
  white-space: nowrap;
  margin-top: 10px;
  cursor: url(cursor.png), none;
}

ul {
  font-family: "Comfortaa", monospace;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #76c893;
  white-space: normal;
  margin-top: 10px;
  overflow-wrap: break-word;
  cursor: url(cursor.png), none;
}

li {
  overflow-wrap: normal;
}

strong {
  color: #b5e48c; /* to be changed */ /* change it to something within the red family (red, orange, pink, purple, etc) 
                                          as it is supposed to be a warning. */
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  cursor: url(cursor.png), none;
}

.navbar {
  padding: 10px 0px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  margin-left: -20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  cursor: url(cursor.png), none;
  top: 0;
  left: 0;
  right: 0;
}

.nav-item {
  color: #b5e48c;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  font-size: 1.5em;
  cursor: url(cursor.png), none;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #b5e48c;
  background-color: #b5e48c; /* to be changed */
  transition: all 0.2s;
  transition-duration: 2ms;
  cursor: url(cursor.png), none;
}

.navbar-nav .nav-item .nav-link {
  color: #52b69a;
  text-align: right;
  cursor: url(cursor.png), none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: url(cursor.png), none;
}

#content {
  width: 100%;
  padding: 25px;
  transition: all 0.1s;
  color: "#34a0a4";
  overflow-wrap: break-word;
  min-height: calc(100vh - 30px);
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: url(cursor.png), none;
}

footer {
  bottom: 0;
  width: 100%;
  left: 0;
  height: 20px;
  cursor: url(cursor.png), none;
}

.footer-bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #1a759f; /* to be changed */
  cursor: url(cursor.png), none;
}

.footer-bottom center span {
  color: #99d98c;
  cursor: url(cursor.png), none;
}

.footer-bottom center a {
  text-decoration: none;
  cursor: url(cursor.png), none;
}

.footer-bottom center a:hover {
  text-decoration: underline;
  cursor: url(cursor.png), none;
}

.offcanvas-header {
  display: none;
}

.optional {
  color: #168aad !important;
}

.checklist {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checklist input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  margin-top: 5px;
  background-color: #eee;
}

.checklist {
  color: #ded5f6;
  cursor: url(cursor.png), none;
}

/* On mouse-over, add a grey background color */
.checklist:hover input ~ .checkmark {
  background-color: #52b69a;
  cursor: url(cursor.png), none;
}

/* When the checkbox is checked, add a blue background */
.checklist input:checked ~ .checkmark {
  background-color: #19ae2d;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checklist input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checklist .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 12px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width: 992px) {
  .offcanvas-header {
    display: block;
  }

  .navbar-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    background-color: black; /* to be changed */ /* same as line 10 */
    transition: visibility 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }

  h4 {
    font-family: "Comfortaa", monospace;
    font-size: 1.5em;
    color: #d9ed92; 
    text-align: left;
    white-space: nowrap;
    margin-top: 10px;
    margin-left: 10px;
  }

  ul li {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
  }

  .navbar-nav {
    text-align: right;
  }

  .navbar-nav .nav-link {
    color: #008785; 
    cursor: url(cursor.png), none;
  }
  .navbar-nav .nav-link:hover {
    color: #99d98c; /* to be changed */ /* same as line 109 */
    cursor: url(cursor.png), none;
  }

  .footer {
    height: auto;
    cursor: url(cursor.png), none;
  }

  banner {
    bottom: 0;
    width: 100%;
    left: 0;
    height: 30px;
    cursor: url(cursor.png), none;
  }

  .banner-bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #a4190a;
    cursor: url(cursor.png), none;
    display: none;
  }

  .banner-bottom center span {
    color: #168aad;
    cursor: url(cursor.png), none;
  }

  .banner-bottom center a {
    text-decoration: none;
    cursor: url(cursor.png), none;
  }

  .banner-bottom center a:hover {
    text-decoration: underline;
    cursor: url(cursor.png), none;
  }

  #bar {
    display: none;
  }
}

@media (min-width: 993px) {
  banner {
    bottom: 0;
    width: 100%;
    left: 0;
    height: 30px;
    cursor: url(cursor.png), none;
  }

  .banner-bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #a4190a;
    cursor: url(cursor.png), none;
    display: none;
  }

  .banner-bottom center span {
    color: #168aad;
    cursor: url(cursor.png), none;
  }

  .banner-bottom center a {
    text-decoration: none;
    cursor: url(cursor.png), none;
  }

  .banner-bottom center a:hover {
    text-decoration: underline;
    cursor: url(cursor.png), none;
  }
}
